# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Misc
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System
.DS_Store
Thumbs.db

# Nix
result
result-*
.direnv/
